<!DOCTYPE html>
<html>
<head>
    <title>PDF Template</title>
    <style>
        h1 {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Products Table</h1>
    <table>
        <thead>
            <tr>
                <th>model_name</th>
                <th>quantity</th>
                <th>each_price</th>
                <th>total_price</th>
                
            </tr>
        </thead>
        <tbody>
            {% for product in products %}  
                <tr>
                    <td>{{ product.model_name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.each_price }}</td>
                    <td>{{ product.total_price }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9">No products found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
